@model SS.WebUI.Models.InfinityScrollListModel

<h4><a asp-controller="Shop">Back to Shops</a></h4>

<div class="panel panel-default">
    <div class="panel-heading">Shops</div>
    <table class="table">
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody id="InfinityListDiv">
            @Html.Partial("_ItemsListPartial", Model)
        </tbody>
    </table>
</div>

@Html.Partial("_InfinityListPartial", Model.InfinityScrollModel)